<div class="view-container">
  <div class="view-page" [ngStyle]="padding_styles">
    <div class="header-info">
      <div class="barcode header-inner">BARCODE</div>
      <div class="logo header-inner">LOGO</div>
      <div class="info header-inner">HOSPITAL INFO</div>
    </div>
    <div class="patient-info">PATIENT INFO</div>

    <div class="prescription-space">PRESCRIPTION SPACE</div>

    <div class="footer-space">FOOTER</div>
    <button (click)="marginSet()">SET MARGIN</button>
  </div>
</div>